* {
    box-sizing: border-box;
}

/* gets rid of white space above header */

body {
    margin: 0;
    text-align: center;
    background-color: #e3f2f7;
}

/* space out the sections */

section {
    margin: 3rem;
}

/* font and text styles  */

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #1196ff;
}

p, li {
    color: #3b454d;
    margin: 1.5rem;
}

/* link styles */

a {
    color: #45a4f0;
    text-decoration: none;
}

a:visited {
    color: #447ead;
}

a:hover {
    color: #6fbeff;
}

a:active {
    color: #1b507a;
}

/* header styles */

header {
    background-color: #1e2122;
    box-shadow: 2px 2px 6px #003864;
    color: #1196ff;
    height: 7rem;
}

header h1 {
    margin: 0px;
    padding: 0px;
    line-height: 4rem;
}

header h2 {
    margin: 0;
}

/* styles for image */

img {
    border: 1px solid black;
    height: 20rem;
    box-shadow: 2px 2px 6px #003864;
    border-radius: 13px;
    margin: 1rem;
    padding: 0.2rem;
    object-fit: cover;
  }